*.Rproj
.Rproj.user
.vscode/*
.Rhistory
.DS_Store

test_ex.R
results*

DirichletMultinomial/src/*.o
DirichletMultinomial/src/*.so
DirichletMultinomial/src/*.dll
DirichletMultinomial/src/symbols.rds
DirichletMultinomial/src/Makevars
DirichletMultinomial/DirichletMultinomial.Rcheck/*
DirichletMultinomial.Rcheck/*
*.gcno

DirichletMultinomial/autom4te.cache
DirichletMultinomial/build
DirichletMultinomial/hyperpar.xml

*.tar.gz
*.log
*.status
